.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 137px;
  margin-bottom: 54px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 598px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 683px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  margin: 18px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 47px;
  width: 47px;
  margin: 89px auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: -47px 285px 0 97px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 9px 0 97px;
}

.u-section-1 .u-icon-2 {
  height: 47px;
  width: 47px;
  margin: 30px auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: -47px 71px 0 97px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 0 9px 0 97px;
}

.u-section-1 .u-icon-3 {
  height: 47px;
  width: 47px;
  margin: 30px auto 0 20px;
}

.u-section-1 .u-text-7 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: -47px 226px 0 97px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 0 9px 0 97px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-1 .u-image-1 {
    height: 566px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 223px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 773px;
  }

  .u-section-1 .u-image-1 {
    height: 407px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1569px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 754px;
    width: 433px;
    margin-top: -30px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 648px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1539px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 733px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-image-1 {
    height: 720px;
    width: 317px;
    margin-top: 54px;
    margin-right: -32px;
    margin-bottom: -60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 791px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 78px;
  }
}.header-shadow {
	box-shadow: 0px 4px 30px rgba(234, 234, 234, 0.5);
}